<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>BeginnersBookDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>todaysMenuEditor.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>BookTable</servlet-name>
    <servlet-class>BookTable</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>UpdateTodaysFoods</servlet-name>
      <servlet-class>UpdateTodaysFoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTable</servlet-name>
    <url-pattern>/BookTable</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>UpdateTodaysFoods</servlet-name>
      <url-pattern>/UpdateTodaysFoods</url-pattern>
  </servlet-mapping>
</web-app>